.page{
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background-color: $background-color;

	#navigation{
		display: flex;
		flex-wrap: wrap;
		@media (min-width: 768px) {
			justify-content: flex-end;
		}
		margin-bottom: 0;
		padding: 0;
		li {
		    list-style: none;
		    &:not(:last-child){
				margin-right: 17px;
			}
			&.social:first-child{
				margin-right: 0;
			}
		}
	}

	a{
		svg{
			flex-shrink: 0;
			fill: #FFF;
			filter: drop-shadow(0px 1px 23px rgba(255, 255, 255, 0.45));
		}

		&:hover{
			svg{
				fill: $color-pink;
			}
		}
	}
	.header{
		padding-top: 43px;
		z-index: 1;
		position: absolute;
		width: 100%;
		background: transparent;
	}
	.footer{
    	padding: 9px 0 30px;
	}
	#home{
		padding-top: 300px;
		@media (min-width: 760px) {
			padding-bottom: 122px;
		}
		position: relative;
		background-image: url(../images/bg-1.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@media (min-width: 768px) {
			padding-top: 223px;
		}
		.container{
			position: relative;
		}
		h2{
			margin-bottom: 30px;
			line-height: 0.8;
			@media (min-width: 768px) {
				margin-bottom: 75px;
			}
			span{
				color: $color-orange;
			}
		}
		p{
			margin-bottom: 35px;
			max-width: 700px;
		}
		.animation{
			@media (min-width: 1024px) {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	#about{
		position: relative;
		padding-top: 184px;
		padding-bottom: 100px;
		overflow: hidden;
		background-image: url(../images/bg-2.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.container{
			position: relative;
		}
		h2{
			background-image: url(../images/animation.gif);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			mix-blend-mode: plus-lighter;
			position: relative;
			z-index: 1;
		}
		.features{
			margin-top: 55px;
			z-index: 1;
			position: relative;
			h3{
				margin-bottom: 0;
				svg{
					width: 45px;
					height: 45px;
					margin-right: 15px;
				}
			}
		}
		.figure{
			animation: 3s linear 0s normal none infinite running rot;
			-webkit-animation: 3s linear 0s normal none infinite running rot;
			position: absolute;
			&-1{
				right: 6%;
				top: 34%;
			}
			&-2{
				left: 4%;
				bottom: -4%;
			}
			&-3{
				left: 7%;
				top: 27%;
			}
			&-4{
				right: 0%;
				bottom: -10%;
			}
			&-5{
				left: 33%;
				top: -17%;
			}
		}
		// video {
		// 	position: absolute;
		// 	left: 0px;
		// 	top: 0px;
		// 	width: 100vw;
		// 	height: 100vh;
		// 	object-fit: cover;
		// 	overflow: hidden;
		//   }

		@keyframes rot {
			0% {
			  transform: rotate(0deg);
			}
			100% {
			  transform: rotate(360deg);
			}
		  }
		  @-webkit-keyframes rot {
			0% {
			  transform: rotate(0deg);
			}
			100% {
			  transform: rotate(360deg);
			}
		  }
	}
	.information{
		a{
			font-size: $font-size-h5;
			font-weight: 600;
			color: $color-black;
			font-family: $font-family-base;
			&:not(:last-child){
				margin-right: 11px;
			}
		}
	}

	/* Custom scroll bar styles */
	::-webkit-scrollbar {
		width: 11px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		-webkit-border-radius: 50px;
		border-radius: 50px;
		background: rgba(69, 72, 57, 9%);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 50px;
		border-radius: 50px;
		background: #606354;
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: #606354;
	}
}


/* Preloader*/
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: $color-black;
	z-index: 1001;
}
.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}
.loaded .preloader {
	display: none;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	position: absolute;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	transform: translate(calc(-50% + 40px), calc(-50% + 40px));
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid $color-brown;
	border-color: $color-brown transparent $color-brown transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}



